<h2 class="text-center mt-4"><%= @user.first_name %>'s Profile</h2>

<div class="height">
   <div class="container">
     <div class="card">
       <div class="row">
         <div class="col-md-4">
            <% if @user.avatar.attached? %>
               <%= image_tag @user.avatar.variant(resize_to_limit: [300, nil]), class: "avatar", style: "width: 300px; display: block;" %>  
            <% else %>
               <%= image_tag "https://i.ibb.co/9cQ2KGL/avatar.png", class: "avatar", style: "width: 300px; display: block;" %>
            <% end %>
           <ul class="list-group list-group-flush">
             <li class="list-group-item"><b>Member since:</b> <i><%= @user.created_at.strftime("%d/%m/%Y") %></i>
             <li class="list-group-item"><b>Events created:</b> <i><%= @user.events.count %></i></li>
           </ul>
            <% if current_user == @user %>
              <div class="text-center">
                <%= link_to "Edit profile", edit_user_registration_path(@user), type: "button", class: "btn btn-dark stretched-link mt-auto", id: "event-button" %>
              </div>
            <% end %>
         </div>
         <div class="col-md">
           <div class="card-body">
             <ul class="list-group list-group-flush">
               <li class="list-group-item"><p><b>First name: </b><%= @user.first_name %></p></li>
               <li class="list-group-item"><p><b>Last name: </b><%= @user.last_name %></p></li>
               <li class="list-group-item"><p><b>Birthday: </b><%= @user.birthday.strftime("%d/%m/%Y") unless @user.birthday == nil  %></p></li>
               <li class="list-group-item"><p><b>City: </b><%= @user.city %></p></li>
             </ul>
           </div>
           <div class="card-body">
             <h5>Bio:</h5>
             <p class="card-text"><%= @user.bio %></p>
           </div> 
         </div>
       </div>
     </div>
   </div>
 </div>
 
 <h2 class="text-center mt-4"><%= @user.first_name %>'s Events</h2>
 <div class="container-fluid">
   <div class="row justify-content-md-center">
      <% @user.events.each do |event| %>
         <div class="col-lg-3 col-md-6">
            <div class="card">
               <img class="card-img-top img-fluid" src="https://i.ibb.co/jGPP6YB/card1.jpg" alt="event1">
                  <div class="card-body d-flex flex-column">
                    <h4 class="font-weight-bold"><%= event.title %></h4>
                    <h6 class="font-italic"><%= event.datetime.strftime("%d-%m-%Y %I:%M%p") %></h6>
                    <smaller <b>Created by:</b> <i><%= link_to event.user.first_name, user_path(event.user) %></i></smaller> <br>
                    <p><%= event.description %></p>
                    <div class="row">
                      <div class="col">
                        <%= link_to "Details", event_path(event), class: "btn btn-secondary btn-block stretched-link mt-auto" %>
                      </div>
                      <% @rsvp = Rsvp.find_by(event_id: event.id, user_id: current_user.id) %>
                      <% if @rsvp != nil && @rsvp.attending_status? %>
                         <div class="col">
                           <%= link_to "Unattend", unattend_event_path(event), class: "btn btn-dark btn-block stretched-link mt-auto" %>
                         </div>
                      <% else %>
                         <div class="col">
                           <%= link_to "Attend", attend_event_path(event), class: "btn btn-dark btn-block stretched-link mt-auto" %>
                         </div>
                      <% end %>
                    </div>
                  </div>
            </div>
         </div>
      <% end %>
   </div>
</div>
    
    