<h2 class="text-center mt-4"><%= @user.first_name %>'s Profile</h2>

<div class="height">
   <div class="container">
     <div class="card">
       <div class="row">
         <div class="col-md-4">
           <img class="card-img-top" src="https://i.ibb.co/VTKRvxK/profile.jpg" alt="Card image cap" id="profile_photo">
           <ul class="list-group list-group-flush">
             <li class="list-group-item"><b>Member since:</b> <i><%= @user.created_at.strftime("%d/%m/%Y") %></i>
             <li class="list-group-item"><b>Events created:</b> <i>2</i></li>
           </ul>
           <div class="text-center">
             <%= link_to "Edit profile", edit_user_registration_path(@user), type: "button", class: "btn btn-dark stretched-link mt-auto", id: "event_button" %>
           </div>
         </div>
         <div class="col-md">
           <div class="card-body">
             <ul class="list-group list-group-flush">
               <li class="list-group-item"><p><b>First name: </b><%= @user.first_name %></p></li>
               <li class="list-group-item"><p><b>Last name: </b><%= @user.last_name %></p></li>
             </ul>
           </div>
           <div class="card-body">
             <h5>Bio:</h5>
             <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
           </div> 
         </div>
       </div>
     </div>
   </div>
 </div>
 
 <h2 class="text-center mt-4"><%= @user.first_name %>'s Events</h2>
 <div class="container-fluid">
   <div class="row justify-content-md-center">
      <% @user.events.each do |event| %>
         <div class="col-lg-3 col-md-6">
            <div class="card">
               <img class="card-img-top img-fluid" src="https://i.ibb.co/jGPP6YB/card1.jpg" alt="event1">
                  <div class="card-body d-flex flex-column">
                    <h4 class="font-weight-bold"><%= event.title %></h4>
                    <h6 class="font-italic"><%= event.datetime.strftime("%d-%m-%Y %I:%M%p") %></h6>
                    <p><%= event.description %></p>
                    <div class="row">
                      <div class="col">
                        <%= link_to "Details", event_path(event), class: "btn btn-secondary btn-block stretched-link mt-auto" %>
                      </div>
                      <% @rsvp = Rsvp.find_by(event_id: event.id, user_id: current_user.id) %>
                      <% if @rsvp != nil && @rsvp.attending_status? %>
                         <div class="col">
                           <%= link_to "Unattend", unattend_event_path(event), class: "btn btn-dark btn-block stretched-link mt-auto" %>
                         </div>
                      <% else %>
                         <div class="col">
                           <%= link_to "Attend", attend_event_path(event), class: "btn btn-dark btn-block stretched-link mt-auto" %>
                         </div>
                      <% end %>
                    </div>
                  </div>
            </div>
         </div>
      <% end %>
   </div>
</div>
    
    