<p id="notice"><%= notice %></p>

<h1><%= @event.title %></h1>
  
  <h5>by <%= @event.user.first_name %></h5>
  <p> <%= simple_format(@event.description) %> </p>
  <%= link_to "Edit", edit_event_path(@event) %> |
  <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to 'Back', events_path %>
  <%= link_to 'Attend', attend_event_path(@event) %>
